
.header, .hero, .body, .bar, .footer{
	background-color: teal;
	padding: 10px 0;
	margin-bottom: 10px;
}
.box{
	margin-bottom: 4px;
	min-height: 70px;
	background-color: blue;
	border: 10px solid black;
	font-size: 50px;
	color: white;
}
.white{
	background-color: lime;
}


/*
.header, .hero, .body, .bar, .footer{
	background-color: teal;
	padding: 10px 0;
	margin-bottom: 10px;
}
.box{
	margin-bottom: 4px;
	min-height: 70px;
	background-color: purple;
	border: 10px solid black;
	font-size: 50px;
	color: white;
}
.white{
	background-color: lime;
}
*/